In [1]:
import pandas as pd
import numpy as np

In [2]:
# Constructing DataFrame from a dictionary
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [3]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [4]:
df = pd.DataFrame(data=d, dtype=np.int8)
df.dtypes

col1    int8
col2    int8
dtype: object

In [5]:
# Constructing DataFrame form a dictionary including Series.
d = {'col1': [1, 2, 3, 4], 'col2': pd.Series([2, 3], index=[2, 3])}
pd.DataFrame(data=d, index=[0, 1, 2, 3])

   col1  col2
0     1   NaN
1     2   NaN
2     3   2.0
3     4   3.0

In [6]:
# Constructing DataFrame from numpy ndarray:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
# Constructing DataFrame from a numpy ndarray that has labeled columns
data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)], dtype=[('a', 'i4'), ('b', 'i4'), ('c', 'i4')])
df3 = pd.DataFrame(data=data, columns=['c', 'a'])
df3

   c  a
0  3  1
1  6  4
2  9  7

In [8]:
# Constructing DataFrame from dataclasse
from dataclasses import make_dataclass

Point = make_dataclass('Point', [('x', int), ('y', int)])
pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])

   x  y
0  0  0
1  0  3
2  2  3