In [1]:
emptySet = set()

In [2]:
dataScientist = set(['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'])
dataEngineer = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [3]:
dataScientist

{'Git', 'Python', 'R', 'SAS', 'SQL', 'Tableau'}

In [4]:
dataEngineer

{'Git', 'Hadoop', 'Java', 'Python', 'SQL', 'Scala'}

In [5]:
dataScientist = {'Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'}
dataEngineer = {'Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'}

print(dataScientist)
dataEngineer

{'R', 'Git', 'Python', 'Tableau', 'SAS', 'SQL'}

{'Git', 'Hadoop', 'Java', 'Python', 'SQL', 'Scala'}

In [6]:
graphicDesigner = {'InDesign', 'Photoshop', 'Acrobat', 'Premiere', 'Bridge'}

In [7]:
graphicDesigner.add('Illustrator')
graphicDesigner

{'Acrobat', 'Bridge', 'Illustrator', 'InDesign', 'Photoshop', 'Premiere'}

In [9]:
# ERROR
#graphicDesigner.add(['Powerpoint', 'Blender'])

In [10]:
graphicDesigner.remove('Illustrator')
graphicDesigner

{'Acrobat', 'Bridge', 'InDesign', 'Photoshop', 'Premiere'}

In [12]:
# ERROR
#graphicDesigner.remove('Muse')

In [13]:
graphicDesigner.discard('Premiere')
graphicDesigner

{'Acrobat', 'Bridge', 'InDesign', 'Photoshop'}

In [14]:
_ = graphicDesigner.pop()
_

'Photoshop'

In [15]:
graphicDesigner

{'Acrobat', 'Bridge', 'InDesign'}

In [16]:
graphicDesigner.clear()
graphicDesigner

set()

In [17]:
set1 = set([7, 10, 11, 13])
set2 = set([11, 8, 9, 12, 14, 15])
set3 = {'d', 'f', 'h'}

In [18]:
set1.update(set2)
set1

{7, 8, 9, 10, 11, 12, 13, 14, 15}

In [19]:
set1.update(set3)
set1

{10, 11, 12, 13, 14, 15, 7, 8, 9, 'd', 'f', 'h'}

In [20]:
dataScientist = {'Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'}

for skill in dataScientist:
    print(skill)

R
Git
Python
Tableau
SAS
SQL

In [21]:
type(sorted(dataScientist))

list

In [22]:
sorted(dataScientist, reverse=True)

['Tableau', 'SQL', 'SAS', 'R', 'Python', 'Git']

In [23]:
print(list(set([1, 2, 3, 1, 7])))

[1, 2, 3, 7]

In [24]:
def remove_duplicates(original):
    unique = []
    [unique.append(n) for n in original if n not in unique]

    return unique

In [25]:
print(remove_duplicates([1, 2, 3, 1, 7]))

[1, 2, 3, 7]

In [26]:
import timeit

In [28]:
print(timeit.timeit('list(set([1, 2, 3, 1, 7]))', number=10000))
print(timeit.timeit('remove_duplicates([1, 2, 3, 1, 7])', globals=globals(), number=10000))

0.0035063999239355326
0.007329700049012899

In [29]:
dataScientist = set(['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'])
dataEngineer = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [30]:
dataScientist.union(dataEngineer)

{'Git', 'Hadoop', 'Java', 'Python', 'R', 'SAS', 'SQL', 'Scala', 'Tableau'}

In [31]:
dataScientist | dataEngineer

{'Git', 'Hadoop', 'Java', 'Python', 'R', 'SAS', 'SQL', 'Scala', 'Tableau'}

In [32]:
dataScientist.intersection(dataEngineer)

{'Git', 'Python', 'SQL'}

In [33]:
dataScientist & dataEngineer

{'Git', 'Python', 'SQL'}

In [34]:
graphicDesigner = {'Illustrator', 'InDesign', 'Photoshop'}

dataScientist.isdisjoint(dataEngineer)

False

In [36]:
dataScientist.isdisjoint(graphicDesigner)

True

In [37]:
dataScientist.difference(dataEngineer)

dataScientist - dataEngineer

{'R', 'SAS', 'Tableau'}

In [38]:
dataScientist.symmetric_difference(dataEngineer)

{'Hadoop', 'Java', 'R', 'SAS', 'Scala', 'Tableau'}

In [39]:
dataScientist ^ dataEngineer

{'Hadoop', 'Java', 'R', 'SAS', 'Scala', 'Tableau'}

In [40]:
{skill for skill in ['SQL', 'SQL', 'PYTHON', 'PYTHON']}

{'PYTHON', 'SQL'}

In [41]:
{skill for skill in ['GIT', 'PYTHON', 'SQL'] if skill not in {'GIT', 'PYTHON', 'JAVA'}}

{'SQL'}

In [43]:
possibleList = ['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS', 'Java', 'Spark', 'Scala']

'Python' in possibleList

True

In [44]:
possibleSet = {'Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS', 'Java', 'Spark', 'Scala'}

'Python' in possibleSet

True

In [45]:
possibleSkills = {'Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'}
mySkills = {'Python', 'R'}

In [46]:
mySkills.issubset(possibleSkills)

True

In [47]:
nestedLists = [['the', 12], ['to', 11], ['of', 9], ['and', 7], ['that', 6]]
nestedTuples = (('the', 12), ('to', 11), ('of', 9), ('and', 7), ('that', 6))

nestedLists, nestedTuples

([['the', 12], ['to', 11], ['of', 9], ['and', 7], ['that', 6]],
 (('the', 12), ('to', 11), ('of', 9), ('and', 7), ('that', 6)))

In [49]:
# ERROR
#nestedSets = set([set()])

In [50]:
immutableSet = frozenset()

In [51]:
nestedSets = set([frozenset()])