In [20]:
import sqlalchemy

In [21]:
sqlalchemy.__version__

'2.0.21'

In [22]:
import sqlalchemy as db

In [23]:
engine = db.create_engine('sqlite:///european_database.sqlite')
conn = engine.connect()

In [24]:
metadata = db.MetaData()
division = db.Table('divisions', metadata, autoload_with=engine)

In [25]:
print(repr(metadata.tables['divisions']))

Table('divisions', MetaData(), Column('division', TEXT(), table=<divisions>), Column('name', TEXT(), table=<divisions>), Column('country', TEXT(), table=<divisions>), schema=None)

In [26]:
print(division.columns.keys())

['division', 'name', 'country']

In [27]:
query = division.select()
print(query)

SELECT divisions.division, divisions.name, divisions.country
FROM divisions

In [28]:
exe = conn.execute(query)
result = exe.fetchmany(5)
result

[('B1', 'Division 1A', 'Belgium'),
 ('D1', 'Bundesliga', 'Deutschland'),
 ('D2', '2. Bundesliga', 'Deutschland'),
 ('E0', 'Premier League', 'England'),
 ('E1', 'EFL Championship', 'England')]

In [30]:
engine = db.create_engine('sqlite:///datacamp.sqlite')
conn = engine.connect()
metadata = db.MetaData()

In [32]:
Student = db.Table('Student', metadata,
                   db.Column('Id', db.Integer(), primary_key=True),
                   db.Column('Name', db.String(255), nullable=False),
                   db.Column('Major', db.String(255), default='MAth'),
                   db.Column('Pass', db.Boolean(), default=True)
)

In [33]:
metadata.create_all(engine)

In [34]:
query = db.insert(Student).values(Id=1, Name='Matthew', Major='English', Pass=True)
Result = conn.execute(query)

In [35]:
output = conn.execute(Student.select()).fetchall()
output

[(1, 'Matthew', 'English', True)]

In [36]:
query = db.insert(Student)

values_list = [{'Id': '2', 'Name': 'Nisha', 'Major': 'Science', 'Pass': False},
               {'Id': '3', 'Name': 'Natasha', 'Major': ' Math', 'Pass': True},
               {'Id': '4', 'Name': 'Ben', 'Major': 'English', 'Pass': False}]

Result = conn.execute(query, values_list)

In [39]:
# ERROR
#output = conn.execute(db.select([Student])).fetchall()
#output

In [41]:
# ERROR
#output = conn.execute('SELECT * FROM Student')
#output.fetchall()

In [43]:
# ERROR
#output = conn.execute('SELECT Name, Major FROM Student WHERE Pass = True')
#output.fetchall()

In [44]:
query = Student.select().where(Student.columns.Major == 'English')
output = conn.execute(query)
output.fetchall()

[(1, 'Matthew', 'English', True), (4, 'Ben', 'English', False)]

In [45]:
query = Student.select().where(db.and_(Student.columns.Major == 'English', Student.columns.Pass != True))
output = conn.execute(query)
output.fetchall()

[(4, 'Ben', 'English', False)]

In [46]:
conn.execute(Student.select().where(Student.columns.Major.in_(['English', 'Math']))).fetchall()

[(1, 'Matthew', 'English', True), (4, 'Ben', 'English', False)]

In [47]:
conn.execute(Student.select().where(db.or_(Student.columns.Major == 'English', Student.columns.Pass == True))).fetchall()

[(1, 'Matthew', 'English', True),
 (3, 'Natasha', ' Math', True),
 (4, 'Ben', 'English', False)]

In [48]:
conn.execute(Student.select().order_by(db.desc(Student.columns.Name))).fetchall()

[(2, 'Nisha', 'Science', False),
 (3, 'Natasha', ' Math', True),
 (1, 'Matthew', 'English', True),
 (4, 'Ben', 'English', False)]

In [49]:
conn.execute(Student.select().limit(3)).fetchall()

[(1, 'Matthew', 'English', True),
 (2, 'Nisha', 'Science', False),
 (3, 'Natasha', ' Math', True)]

In [52]:
# ERROR
#conn.execute(db.select([db.func.sum(Student.columns.Id)])).fetchall()

In [55]:
# ERROR
#conn.execute(db.select([db.func.sum(Student.columns.Id),Student.columns.Major]).group_by(Student.columns.Pass)).fetchall()

In [58]:
# ERROR
#db.select(db.select([Student.columns.Major.distinct()])).fetchall()

In [59]:
query = Student.select().where(Student.columns.Major.in_(['English', 'Math']))

output = conn.execute(query)
results = output.fetchall()
results

[(1, 'Matthew', 'English', True), (4, 'Ben', 'English', False)]

In [61]:
import pandas as pd

In [63]:
# ERROR
#data = pd.DataFrame(results)
#data.columns = results[0].keys()
#data

In [66]:
# ERROR
#engine = db.create_engine("sqlite:///european_database.sqlite")
#conn = engine.connect()
#metadata = db.MetaData()

#division = db.Table('divisions', metadata, autoload=True, autoload_with=engine)
#match = db.Table('matchs', metadata, autoload=True, autoload_with=engine)

In [68]:
# ERROR
#query = db.select([division, match]).select_from(division.join(match, division.columns.division == match.columns.Div)). \
#        where(db.and_(division.columns.division == 'E1', match.columns.season == 2009)). \
#        order_by(match.columns.HomeTeam)

#output = conn.execute(query)
#results = output.fetchall()

#data = pd.DataFrame(results)
#data.columns = results[0].keys()
#data

In [69]:
import matplotlib.pyplot as plt
import seaborn as sns

In [71]:
# ERROR
#sns.set_theme(style='whitegrid')

#f, ax = plt.subplots(figsize=(15, 6))
#plt.xticks(rotation=90)

#sns.set_color_codes('pastel')

#sns.barplot(x='HomeTeam', y='FTHG', data=data, label='Home Team Goals', color='b')
#sns.barplto(x='HomeTeam', y='FTAG', data=data, label='Away Team Goals', color='r')

#ax.legend(ncol=2, loc='upper left', frameon=True)
#ax.set(ylabel='', xlabel='')

#sns.despine(left=True, bottorm=True)

In [74]:
# ERROR
#output = conn.execute("SELECT * FROM matches WHERE HomeTeam LIKE 'Norwich'")
#results = output.fetchall()

#data = pd.DataFrame(results)
#data.colimns = results[0].keys()
data.to_csv('SQL_results.csv', index=False)

In [75]:
engine = db.create_engine('sqlite:///datacamp.sqlite')

In [79]:
# ERROR
#df = pd.read_csv('indexProcessed.csv')
#df.to_sql(con=engine, name="Stock_price", if_exists='replace', index=False)

In [81]:
# ERROR
#conn = engine.connect()
#metadata = db.MetaData()

#stock = db.Table('Stock_price', metadata, autoload=True, autoload_with=engine)

In [83]:
# ERROR
#query = stock.select()
#exe = conn.execute(query)
#result = exe.fetchmany(5)

#for r in result:
#    print(r)

In [86]:
# ERROR
#Student = db.Table('Student', metadata, autoload=True, autoload_with=engine)

#query = Student.update().values(Pass=True).where(Student.columns.Name == 'Nisha')
#resuls = conn.execute(query)

In [88]:
# ERROR
#output = conn.execute(Student.select()).fetchall()

#data = pd.DataFrame(output)
#data.columns = output[0].keys()
#data

In [90]:
# ERROR
#Student = db.Table('Student', metadata, autoload=True, autoload_with=engine)

#query = Student.delete().where(Student.columns.Name == 'Ben')
#results = conn.execute(query)

In [92]:
# ERROR
#output = conn.execute(Student.select()).fetchall()

#data = pd.DataFrame(output)
#data.columns = output[0].keys()
#data

In [94]:
# ERROR
#results.close()
#exe.close()

In [96]:
# ERROR
#metadata.drop_all(engine, [Student], checkfirst=True)

In [99]:
# ERROR
#metadata.drop_all(engine)