In [1]:
for i in range(10):
    print(i + 1)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in 'Datacamp':
    if i == 'a':
        print(i)

a
a
a

In [3]:
sequence = [1, 2, 8, 100, 200, 'datacamp', 'tutorial']

for i in sequence:
    print(i)

1
2
8
100
200
datacamp
tutorial

In [4]:
for i in range(len(sequence)):
    print(sequence[i])

1
2
8
100
200
datacamp
tutorial

In [5]:
for i in range(len(sequence)):
    element = sequence[i]

    if type(element) == int:
        sequence[i] = element + 4

In [6]:
sequence

[5, 6, 12, 104, 204, 'datacamp', 'tutorial']

In [7]:
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [8]:
for i in range(11):
    for j in range(i):
        print(i, end=' ')

    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [9]:
import pandas as pd

In [11]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
len(iris)

150

In [13]:
for i in range(len(iris)):
    Class = iris.iloc[i, 4]

    if Class == 'versicolor' and i < 70:
        print(Class)

versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor
versicolor

In [14]:
columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [15]:
for indices, row in iris.iterrows():
    for column in columns:
        iris.at[indices, column] = row[column] + 2

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           7.1          5.5           3.4          2.2  setosa
1           6.9          5.0           3.4          2.2  setosa
2           6.7          5.2           3.3          2.2  setosa
3           6.6          5.1           3.5          2.2  setosa
4           7.0          5.6           3.4          2.2  setosa

In [16]:
x = [20, 30, 40, 50, 60]
y = []

In [17]:
for v in x:
    y += [v * 5]

y

[100, 150, 200, 250, 300]

In [18]:
y = map(lambda x: x * 5, x)
y

In [19]:
list(y)

[100, 150, 200, 250, 300]