In [1]:
import pandas as pd

In [3]:
# ERROR
#airbnb_data = pd.read_csv('data/listings_austin.csv')
#airbnb_data.head()

In [5]:
# ERROR
#airbnb_data = pd.read_csv('data/listings_austin.csv', index_col='id')
#airbnb_data.head()

In [7]:
usecols = ['id', 'name', 'host_id', 'neighbourhood', 'room_type', 'price', 'minimum_nights']

# ERROR
#airbnb_data = pd.read_csv('data/listings_austin.csv', index_col='id', usecols=usecols)
#airbnb_data.head()

In [8]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

col_names = [
    'sepal_length_in_cm',
    'sepal_width_in_cm',
    'petal_length_in_cm',
    'petal_width_in_cm',
    'class'
]

In [9]:
iris_data = pd.read_csv(url, names=col_names)

In [10]:
iris_data.head()

,sepal_length_in_cm,sepal_width_in_cm,petal_length_in_cm,petal_width_in_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [11]:
iris_data.tail()

,sepal_length_in_cm,sepal_width_in_cm,petal_length_in_cm,petal_width_in_cm,class
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
iris_data.columns

Index(['sepal_length_in_cm', 'sepal_width_in_cm', 'petal_length_in_cm',
       'petal_width_in_cm', 'class'],
      dtype='object')

In [13]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sepal_length_in_cm  150 non-null    float64
 1   sepal_width_in_cm   150 non-null    float64
 2   petal_length_in_cm  150 non-null    float64
 3   petal_width_in_cm   150 non-null    float64
 4   class               150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [14]:
iris_data.describe()

,sepal_length_in_cm,sepal_width_in_cm,petal_length_in_cm,petal_width_in_cm
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [15]:
iris_data.to_csv('cleaned_iris_data.csv')

In [16]:
iris_data.to_csv('tab_separated_iris_data.csv', sep='\t')

In [17]:
iris_data.to_csv('tab_separated_iris_data.csv', sep='\t', index=False)

In [18]:
iris_data.to_csv('tab_separated_iris_data.csv', sep='\t', na_rep='Unknown')

In [20]:
iris_data.to_csv('tab_separated_iris_data.csv', sep='\t', na_rep='Unknown', header=False)