In [5]:
from thefuzz import fuzz

In [6]:
name = 'Kurtis Pykes'
full_name = 'Kurtis K D Pykes'

print(f'Similarity score: {fuzz.ratio(name, full_name)}')

Similarity score: 86

In [7]:
print(f'Similarity score: {fuzz.partial_ratio(name, full_name)}')

Similarity score: 74

In [9]:
full_name = 'Kurtis Pykes K D'

In [10]:
print(f'Partial ratio similarity score: {fuzz.partial_ratio(name, full_name)}')
print(f'Simple ratio similarity score: {fuzz.ratio(name, full_name)}')

Partial ratio similarity score: 100
Simple ratio similarity score: 86

In [11]:
full_name = 'Kurtis K D Pykes'
full_name_reordered = 'Kurtis Pykes K D'

In [12]:
print(f'Token sort ratio similarity score: {fuzz.token_sort_ratio(full_name_reordered, full_name)}')
print(f'Partial ratio similarity score: {fuzz.partial_ratio(full_name, full_name_reordered)}')
print(f'Simple ratio simialrity score: {fuzz.ratio(name, full_name)}')

Token sort ratio similarity score: 100
Partial ratio similarity score: 86
Simple ratio simialrity score: 86

In [13]:
name = 'Kurtis Pykes'
full_name = 'Kurtis K D Pykes'

print(f'Token sort ratio similarity score: {fuzz.token_sort_ratio(name, full_name)}')

Token sort ratio similarity score: 86

In [14]:
print(f'Token sort ratio similarity score: {fuzz.token_set_ratio(name, full_name)}')

Token sort ratio similarity score: 100

In [15]:
from thefuzz import process

In [17]:
collection = ['AFC Barcelona', 'Barcelona AFC', 'barcelona fc', 'afc barcelona']
print(process.extract('barcelona', collection, scorer=fuzz.ratio))

[('barcelona fc', 86), ('AFC Barcelona', 82), ('Barcelona AFC', 82), ('afc barcelona', 82)]

In [18]:
print(process.extract('barcelona', collection, scorer=fuzz.ratio))

[('barcelona fc', 86), ('AFC Barcelona', 82), ('Barcelona AFC', 82), ('afc barcelona', 82)]

In [19]:
import pandas as pd

In [20]:
dict_one = {'country': ['England', 'Scotland', 'Wales', 'United Kingdom', 'Northern Ireland'],
            'population_in_milions': [55.98, 5.45, 3.14, 7.33, 1.89]
}

dict_two = {'country': ['Northern Iland', 'Wles', 'Scotlnd', 'Englnd', 'United K.'],
            'GDP_per_capita': [24900, 23882, 37460, 45101, 46510.28]
}

In [21]:
existing_data = pd.DataFrame(dict_one)
exported_data = pd.DataFrame(dict_two)

print(existing_data, exported_data, sep='\n\n')

            country  population_in_milions
0           England                  55.98
1          Scotland                   5.45
2             Wales                   3.14
3    United Kingdom                   7.33
4  Northern Ireland                   1.89

          country  GDP_per_capita
0  Northern Iland        24900.00
1            Wles        23882.00
2         Scotlnd        37460.00
3          Englnd        45101.00
4       United K.        46510.28

In [22]:
data = pd.merge(existing_data, exported_data, on='country', how='left')
data.head()

            country  population_in_milions  GDP_per_capita
0           England                  55.98             NaN
1          Scotland                   5.45             NaN
2             Wales                   3.14             NaN
3    United Kingdom                   7.33             NaN
4  Northern Ireland                   1.89             NaN

In [23]:
exported_data['country'] = exported_data['country'].apply(lambda x: process.extractOne(x, existing_data['country'], scorer=fuzz.partial_ratio)[0])

In [24]:
data = pd.merge(existing_data, exported_data, on='country', how='left')
print(data.head())

            country  population_in_milions  GDP_per_capita
0           England                  55.98        45101.00
1          Scotland                   5.45        37460.00
2             Wales                   3.14        23882.00
3    United Kingdom                   7.33        46510.28
4  Northern Ireland                   1.89        24900.00