In [23]:
from bs4 import BeautifulSoup
import pandas as pd

In [24]:
text = ''

for j in range(1, 3):
    with open(f'data/data_capitalization{j}.txt', 'r', encoding='utf-8') as file:
        text += file.read()

In [25]:
soup = BeautifulSoup(text, 'html.parser')
table = soup.find_all('td')

In [26]:
rank = []
name = []
code = []
market_cap = []
price = []
today = []
country = []

In [27]:
new = []
for row in table:
    a = row.text
    b = row.find('div', {'class': 'company-name'})
    c = row.find('div', {'class': 'company-code'})

    if b:
        name.append(b.text)

    if c:
        code.append(c.text)

    splitted = a.split('\n')
    new.append(splitted)

new = [element for element in new if '' not in element]

In [28]:
for i, data in enumerate(new):
    if i % 6 == 0:
        rank.append(data[0])

    elif i % 6 == 2:
        market_cap.append(data[0])

    elif i % 6 == 3:
        price.append(data[0])

    elif i % 6 == 4:
        today.append(data[0])

    elif i % 6 == 5:
        country.append(data[0])

In [29]:
df = pd.DataFrame([rank, name, code, market_cap, price, today, country]).transpose()

In [30]:
df.columns = ['Rank', 'Name', 'Code', 'Market_Cap', 'Price', 'Today', 'Country']

In [18]:
df.Rank = df.Rank.astype(int)
df.Price = df.Price.str.replace('$', '').str.replace(',', '').astype(float)
df.Today = df.Today.str.replace('%', '').astype(float)
df.Market_Cap = df.Market_Cap.str.replace('$', '')

ValueError: invalid literal for int() with base 10: 'Tata Consultancy ServicesTCS.NS'

In [ ]:
df['multiplier'] = df.Market_Cap.str.split(' ')
df2 = pd.DataFrame(df['multiplier'].to_list(), columns=['Market_cap', 'multiplier'])
df2.multiplier = df2['multiplier'].map({'T': 1000000000000, 'B': 1000000000})
df.Market_Cap = df2.Market_cap.astype('float') * df2.multiplier
df = df.drop('multiplier', axis=1)
df

,Rank,Name,Code,Market_Cap,Price,Today,Country
0,1,NVIDIA,NVDA,3.992000e+12,163.70,0.74,ðŸ‡ºðŸ‡¸ USA
1,2,Microsoft,MSFT,3.727000e+12,501.56,0.35,ðŸ‡ºðŸ‡¸ USA
2,3,Apple,AAPL,3.107000e+12,208.06,1.47,ðŸ‡ºðŸ‡¸ USA
3,4,Amazon,AMZN,2.392000e+12,225.36,0.15,ðŸ‡ºðŸ‡¸ USA
4,5,Alphabet (Google),GOOG,2.192000e+12,181.29,0.01,ðŸ‡ºðŸ‡¸ USA
...,...,...,...,...,...,...,...
95,96,Charles Schwab,SCHW,1.678800e+11,92.40,0.47,ðŸ‡ºðŸ‡¸ USA
96,97,S&P Global,SPGI,1.626000e+11,530.20,0.59,ðŸ‡ºðŸ‡¸ USA
97,98,Citigroup,C,1.618900e+11,86.68,0.06,ðŸ‡ºðŸ‡¸ USA
98,99,CM Bank,3968.HK,1.608600e+11,6.52,0.20,ðŸ‡¨ðŸ‡³ China
99,100,Thermo Fisher Scientific,TMO,1.604500e+11,425.06,2.25,ðŸ‡ºðŸ‡¸ USA

In [ ]:
df.to_excel('data.xlsx', index=False)