In [64]:
x = 'Cake'
y = 'Cookie'
x + ' & ' + y

'Cake & Cookie'

In [65]:
x * 2

'CakeCake'

In [66]:
z1 = x[2:]
z1

'ke'

In [67]:
z2 = y[0] + y[1]
z2

'Co'

In [68]:
x = '4'
y = '2'

x + y

'42'

In [69]:
str.capitalize('cookie')

'Cookie'

In [70]:
str1 = 'Cake 4 U'
str2 = '404'

len(str1)

8

In [71]:
str1.isdigit()

False

In [72]:
str2.isdigit()

True

In [73]:
str1.replace('4 U', str2)

'Cake 404'

In [74]:
str1 = 'cookie'
str2 = 'cook'
str1.find(str2)

0

In [75]:
str1 = 'I got you a cookie'
str2 = 'cook'

str1.find(str2)

12

In [76]:
x = 4
y = 2

x == y

False

In [77]:
x > y

True

In [78]:
z = (x==y)

if z:
    print('Cookie')
else:
    print('No Cookie')

No Cookie

In [79]:
i = 4.0
type(i)

float

In [80]:
x = 4.0
y = 2
z = x / y
type(x)

float

In [81]:
# ERROR
#x = 2
#y = 'The Godfather: Part '
#fav_movie = y + x

In [82]:
x = 2
y = 'The godfather: Part'
fav_movie = y + str(x)
fav_movie

'The godfather: Part2'

In [83]:
import array as arr

In [84]:
a = arr.array('I', [3, 6, 9])
type(a)

array.array

In [85]:
x = []
type(x)

list

In [86]:
x1 = [1, 2, 3]
type(x1)

list

In [87]:
x2 = list([1, 'apple', '3'])
type(x2)

list

In [88]:
print(x2[1])

apple

In [89]:
x2[1] = 'orange'
x2

[1, 'orange', '3']

In [90]:
list_num = [1, 2, 45, 6, 7, 2, 90, 23, 435]
list_char = ['c', 'o', 'o', 'k', 'i', 'e']

list_num.append(11)
list_num

[1, 2, 45, 6, 7, 2, 90, 23, 435, 11]

In [91]:
list_num.insert(0, 11)
list_num

[11, 1, 2, 45, 6, 7, 2, 90, 23, 435, 11]

In [92]:
list_char.remove('o')
list_char

['c', 'o', 'k', 'i', 'e']

In [93]:
list_char.pop(-2)
list_char

['c', 'o', 'k', 'e']

In [94]:
list_num.sort()
list_num

[1, 2, 2, 6, 7, 11, 11, 23, 45, 90, 435]

In [95]:
list.reverse(list_num)
list_num

[435, 90, 45, 23, 11, 11, 7, 6, 2, 2, 1]

In [97]:
array_char = arr.array('u', ['c', 'a', 't', 's'])
array_char.tobytes()
array_char

array('u', 'cats')

In [98]:
import numpy as np

In [99]:
arr_a = np.array([3, 6, 9])
arr_b = arr_a / 3
arr_b

array([1., 2., 3.])

In [100]:
arr_ones = np.ones(4)
arr_ones

array([1., 1., 1., 1.])

In [102]:
multi_arr_ones = np.ones((3, 4))
multi_arr_ones

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [103]:
stack = [1, 2, 3, 4, 5]
stack.append(6)
stack

[1, 2, 3, 4, 5, 6]

In [104]:
stack.pop()
stack.pop()
stack

[1, 2, 3, 4]

In [105]:
graph = {'a': ['c', 'd'],
         'b': ['d', 'e'],
         'c': ['a', 'e'],
         'd': ['a', 'b'],
         'e': ['b', 'c']
}

In [106]:
def define_edges(graph):
    edges = []

    for vertices in graph:
        for neighbour in graph[vertices]:
            edges.append((vertices, neighbour))

    return edges

define_edges(graph)

[('a', 'c'),
 ('a', 'd'),
 ('b', 'd'),
 ('b', 'e'),
 ('c', 'a'),
 ('c', 'e'),
 ('d', 'a'),
 ('d', 'b'),
 ('e', 'b'),
 ('e', 'c')]

In [113]:
class Tree:

    def __init__(self, info, left=None, right=None):
        self.info = info
        self.left = left
        self.right = right

    def __str__(self):
        return (str(self.info) + ', Left child: ' + str(self.left) + ', Right Child: ' + str(self.right))

In [114]:
tree = Tree(1, Tree(2, 2.1, 2.2), Tree(3, 3.1))
print(tree)

1, Left child: 2, Left child: 2.1, Right Child: 2.2, Right Child: 3, Left child: 3.1, Right Child: None

In [117]:
x_tuple = 1, 2, 3, 4, 5
y_tuple = ('c', 'a', 'k', 'e')
x_tuple[0]

1

In [118]:
y_tuple[3]

'e'

In [120]:
# ERROR
#x_tuple[0] = 0

In [121]:
x_dict = {'Edward': 1, 'Jorge': 2, 'Prem': 3, 'Joe': 4}
del x_dict['Joe']
x_dict

{'Edward': 1, 'Jorge': 2, 'Prem': 3}

In [122]:
x_dict['Edward']

1

In [123]:
len(x_dict)

3

In [124]:
x_dict.keys()

dict_keys(['Edward', 'Jorge', 'Prem'])

In [125]:
x_dict.values()

dict_values([1, 2, 3])

In [126]:
x_set = set('CAKE&COKE')
y_set = set('COOKIE')

x_set

{'&', 'A', 'C', 'E', 'K', 'O'}

In [127]:
y_set

{'C', 'E', 'I', 'K', 'O'}

In [128]:
print(x_set - y_set)

{'A', '&'}

In [129]:
x_set | y_set

{'&', 'A', 'C', 'E', 'I', 'K', 'O'}

In [130]:
x_set & y_set

{'C', 'E', 'K', 'O'}

In [132]:
f = open('file_name', 'w')
#f.read()
#f.readline()
f.write('Add this line.')
f.close()