In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import glob

In [2]:
files = glob.glob('*.txt')
l_files = len(files)

In [3]:
with open(files[-1]) as f:
    soup = BeautifulSoup(f.read(), 'html.parser')

In [4]:
data = soup.find_all('div', class_='func_scrollable newspaper_ranking func_overview_content overview_content newspaper_ranking_single')

In [5]:
rankings = data[0].find_all('div', class_='player_rank')
countries = data[0].find_all('div', class_='country_name')
points = data[0].find_all('div', class_='ranking_points')

In [6]:
rankings = [int(ranking.get_text()) for ranking in rankings]
countries = [country.get_text() for country in countries]
points = [int(point.get_text()) for point in points]

In [7]:
df2 = pd.DataFrame()

df2['country'] = countries
df2['ranking_' + str(l_files)] = rankings
df2['points_' + str(l_files)] = points

In [8]:
df = pd.read_excel('data.xlsx')
df = df.iloc[:, 1:]

In [9]:
df = df.merge(df2, on='country', how='left')
df

,country,ranking_1,points_1,ranking_2,points_2,ranking_3,points_3,ranking_4,points_4,ranking_5,...,ranking_15,points_15,ranking_16,points_16,ranking_17,points_17,ranking_18,points_18,ranking_19,points_19
0,Munster,1,3,49,3,28,4,69,4,62.0,...,383.0,0.0,366.0,0.0,351.0,0.0,333.0,0.0,319.0,0.0
1,Leinster,2,3,4,4,9,5,10,6,11.0,...,8.0,20.0,7.0,21.0,7.0,22.0,7.0,23.0,6.0,24.0
2,Ulster,3,3,503,2,657,0,649,0,616.0,...,384.0,0.0,367.0,0.0,352.0,0.0,334.0,0.0,320.0,0.0
3,Southern Highlands,4,3,50,3,195,3,230,3,524.0,...,385.0,0.0,368.0,0.0,353.0,0.0,335.0,0.0,321.0,0.0
4,Aberdeenshire,5,3,51,3,29,4,70,4,29.0,...,197.0,4.0,311.0,1.0,354.0,0.0,336.0,0.0,322.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,Açores,696,0,696,0,696,0,696,0,680.0,...,602.0,0.0,593.0,0.0,587.0,0.0,582.0,0.0,NaN,NaN
694,Andaman Islands,697,0,697,0,697,0,697,0,681.0,...,603.0,0.0,594.0,0.0,588.0,0.0,583.0,0.0,578.0,0.0
695,Socotra,698,0,698,0,698,0,698,0,682.0,...,604.0,0.0,595.0,0.0,589.0,0.0,584.0,0.0,579.0,0.0
696,Archipel des Kerguelen,699,0,699,0,699,0,699,0,683.0,...,605.0,0.0,596.0,0.0,590.0,0.0,585.0,0.0,580.0,0.0
697,South Georgia Islands,700,0,700,0,700,0,700,0,684.0,...,606.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.to_excel('data.xlsx')