In [13]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [14]:
with open('data_box_office.txt', 'r', encoding='utf-8') as file:
    text = file.read()

In [15]:
soup = BeautifulSoup(text, 'html.parser')
table = soup.find('table', {'class': 'wikitable sortable plainrowheaders sticky-header col4right col5center col6center'})

In [16]:
body = table.find('tbody')

In [17]:
data = body.find_all('tr')

In [18]:
full_data = []

In [19]:
for element in data:
    full_data.append([ele for ele in element.text.split('\n')[:-2] if ele])

In [20]:
df = pd.DataFrame(full_data)
df = df.drop(0)

In [21]:
df.columns = ['Rank', 'Peak', 'Title', 'Gross', 'Year']

In [22]:
df['Peak'] = df['Peak'].str.replace('RK', '')
df['Peak'] = df['Peak'].str.replace('TS3', '')

df['Gross'] = df['Gross'].str.replace('T', '')
df['Gross'] = df['Gross'].str.replace('F', '')
df['Gross'] = df['Gross'].str.replace('8$', '')
df['Gross'] = df['Gross'].str.replace('SM', '')
df['Gross'] = df['Gross'].str.replace('DKR', '')
df['Gross'] = df['Gross'].str.replace('$', '')

In [23]:
df.Rank = df.Rank.astype(int)
df.Peak = df.Peak.astype(int)

df.Gross = df.Gross.str.replace(',', '')
df.Gross = df.Gross.astype(np.int64)

df.Year = df.Year.astype(int)

df

,Rank,Peak,Title,Gross,Year
1,1,1,Avatar,2923706026,2009
2,2,1,Avengers: Endgame,2797501328,2019
3,3,3,Avatar: The Way of Water,2320250281,2022
4,4,1,Titanic,2257844554,1997
5,5,5,Ne Zha 2,2216990000,2025
6,6,3,Star Wars: The Force Awakens,2068223624,2015
7,7,4,Avengers: Infinity War,2048359754,2018
8,8,6,Spider-Man: No Way Home,1922598800,2021
9,9,8,Inside Out 2,1698863816,2024
10,10,3,Jurassic World,1671537444,2015
11,11,7,The Lion King,1656943394,2019
12,12,3,The Avengers,1518815515,2012
13,13,4,Furious 7,1515341399,2015
14,14,11,Top Gun: Maverick,1495696292,2022
15,15,10,Frozen 2,1450026933,2019
16,16,14,Barbie,1447038421,2023
17,17,5,Avengers: Age of Ultron,1402809540,2015
18,18,15,The Super Mario Bros. Movie,1360847665,2023
19,19,9,Black Panther,1347280838,2018
20,20,3,Harry Potter and the Deathly Hallows â€“ Part 2,1342139727,2011
21,21,20,Deadpool & Wolverine,1338073645,2024
22,22,9,Star Wars: The Last Jedi,1332539889,2017
23,23,12,Jurassic World: Fallen Kingdom,1308473425,2018
24,24,5,Frozen,1290000000,2013
25,25,10,Beauty and the Beast,1263521126,2017
26,26,15,Incredibles 2,1242805359,2018
27,27,11,The Fate of the Furious,1238764765,2017
28,28,5,Iron Man 3,1214811252,2013
29,29,10,Minions,1159444662,2015
30,30,12,Captain America: Civil War,1153337496,2016
31,31,20,Aquaman,1148528393,2018
32,32,2,The Lord of the Rings: The Return of the King,1147997407,2003
33,33,24,Spider-Man: Far From Home,1132679685,2019
34,34,23,Captain Marvel,1128274794,2019
35,35,5,Transformers: Dark of the Moon,1123794079,2011
36,36,7,Skyfall,1108594137,2012
37,37,10,Transformers: Age of Extinction,1104054072,2014
38,38,7,The Dark Knight Rises,1081169825,2012
39,39,31,Joker,1074458282,2019
40,40,32,Star Wars: The Rise of Skywalker,1074144248,2019
41,41,30,Toy Story 4,1073394593,2019
42,42,4,Toy Story 3,1066970811,2010
43,43,3,Pirates of the Caribbean: Dead Man's Chest,1066179747,2006
44,44,44,Moana 2,1059242164,2024
45,45,20,Rogue One: A Star Wars Story,1057420387,2016
46,46,34,Aladdin,1050693953,2019
47,47,2,Star Wars: Episode I â€“ The Phantom Menace,1046515409,1999
48,48,6,Pirates of the Caribbean: On Stranger Tides,1045713802,2011
49,49,1,Jurassic Park,1037535230,1993
50,50,24,Despicable Me 3,1034800131,2017

In [24]:
df.to_excel('data.xlsx', index=False)