In [15]:
from bs4 import BeautifulSoup
import pandas as pd

In [16]:
with open('data_avatar.txt', 'r', encoding='utf-8') as file:
    text = file.read()

In [17]:
soup = BeautifulSoup(text, 'html.parser')
tables = soup.find_all('table')[1:]

In [18]:
country = []
releases = []
gross = []
rank = []

In [19]:
for table in tables:
    tr = table.find_all('tr')

    for data in tr:
        temp = data.text.split('$')

        if len(temp) == 2:
            country.append(temp[0][:-1])
            releases.append(temp[0][-1])

            size = temp[1][::-1].index(',') - 3

            gross.append(temp[1][:-size])
            rank.append(temp[1][-size:])

In [20]:
df = pd.DataFrame([country, releases, gross, rank]).transpose()

In [21]:
df.columns = ['Country', 'Releases', 'Gross', 'Rank']

df.Releases = df.Releases.astype(int)
df.Gross = df.Gross.str.replace(',', '').astype(int)
df.Rank = df.Rank.astype(int)

df

               Country  Releases      Gross  Rank
0             Domestic         3  785221649     4
1                China         3  262125748    40
2               France         3  181757632     2
3              Germany         3  166725521     1
4       United Kingdom         3  153841911     5
..                 ...       ...        ...   ...
73  Dominican Republic         1    1440545     1
74             Uruguay         1    1274650    11
75   Trinidad & Tobago         2     771174    13
76             Jamaica         1     491669     5
77            Paraguay         1     120000    91

[78 rows x 4 columns]

In [22]:
df.to_excel('data.xlsx', index=False)