In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
diamonds = sns.load_dataset('diamonds')
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
diamonds.shape

(53940, 10)

In [5]:
diamonds.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [6]:
diamonds.describe(exclude=np.number)

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X, y = diamonds.drop('price', axis=1), diamonds[['price']]

In [9]:
cats = X.select_dtypes(exclude=np.number).columns.tolist()

for col in cats:
    X[col] = X[col].astype('category')

In [10]:
X.dtypes

carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
x           float64
y           float64
z           float64
dtype: object

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
import xgboost as xgb

In [13]:
dtrain_reg = xgb.DMatrix(X_train, y_train, enable_categorical=True)
dtest_reg = xgb.DMatrix(X_test, y_test, enable_categorical=True)

In [14]:
# ERROR
#mse = np.mean((actual - predicted) ** 2)
#rmse = np.sqrt(mse)

In [15]:
params = {'objective': 'reg:squarederror', 'tree_method': 'gpu_hist'}

In [17]:
# ERROR
#n = 100

#model = xgb.train(
#    params=params,
#    dtrain=dtrain_reg,
#    num_boost_round=n
#)

In [18]:
from sklearn.metrics import mean_squared_error

In [20]:
# ERROR
#preds = model.predict(dtest_reg)

#rmse = mean_squared_error(y_test, preds, squared+False)
#print('RMSE of the base model: {rmse:.3f}')

In [21]:
params = {'objective': 'reg:squarederror', 'tree_method': 'gpu_hist'}
n = 100

In [22]:
evals = [(dtrain_reg, 'train'), (dtest_reg, 'validation')]
evals

[(<xgboost.core.DMatrix at 0x2626581f340>, 'train'),
 (<xgboost.core.DMatrix at 0x26244003970>, 'validation')]

In [24]:
# ERROR
#model = xgb.train(
#    params=params,
#    dtrain=dtrain_reg,
#    num_boost_round=n,
#    evals=evals
#)

In [26]:
# ERROR
#model = xgb.train(
#    params=params,
#    dtrain=dtrain_reg,
#    num_boost_round=n,
#    evals=evals,
#    verbose_eval=10
#)

In [29]:
n = 5000

# ERROR
#model = xgb.train(
#    params=params,
#    dtrain=dtrain_reg,
#    num_boost_round=n,
#    evals=evals,
#    verbose_eval=250
#)

In [31]:
n = 10000

#model = xgb.train(
#    params=params,
#    dtrain=dtrain_reg,
#    num_boost_round=n,
#    evals=evals,
#    verbose_eval=50,
#    early_stopping_rounds=50
#)

In [33]:
n = 1000

#results = xgb.cv(
#    params,
#    dtrain_reg,
#    num_boost_round=n,
#    nfold=5,
#    early_stopping_rounds=20
#)

#result.head()

In [34]:
# ERROR
#best_rmse = results['test-rmse-mean'].min()
#best_rmse

In [35]:
from sklearn.preprocessing import OrdinalEncoder

In [36]:
X, y = diamonds.drop('cut', axis=1), diamonds[['cut']]

y_encoded = OrdinalEncoder().fit_transform(y)

cats = X.select_dtypes(exclude=np.number).columns.tolist()

for col in cats:
    X[col] = X[col].astype('category')

X_train, X_test, y_train, y_test = train_test_split(X, y_encoded, random_state=1, stratify=y_encoded)

In [37]:
dtrain_clf = xgb.DMatrix(X_train, y_train, enable_categorical=True)
dtest_clf = xgb.DMatrix(X_test, y_test, enable_categorical=True)

In [38]:
params = {'objective': 'multi:softprob', 'tree_method': 'gpu_hist', 'num_class': 5}
n = 1000

In [40]:
# ERROR
#results = xgb.cv(
#    params, dtrain_clf,
#    num_boost_round=n,
#    nfold=5,
#    metrics=['mlogloss', 'auc', 'merror']
#)

In [41]:
# ERROR
#result.keys()

In [42]:
# ERROR
#results['test-auc-mean'].max()

In [44]:
# ERROR
#xgb_classifier = xgb.XGBClassifier(n_estimators=100, objective='binary:logistic', tree_method='hist', eta=0.1, max_depth=3)
#xgb_classifier.fit(X_train, y_train)

#model = xgb_classifier.get_booster()