In [1]:
prices = [238.11, 237.81, 238.91]
prices.sort()
prices

[237.81, 238.11, 238.91]

In [2]:
fam = ['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [3]:
type(fam)

list

In [4]:
fam2 = [['liz', 173],
        ['emma', 1.68],
        ['mom', 1.71],
        ['dad', 1.89]]
fam2

[['liz', 173], ['emma', 1.68], ['mom', 1.71], ['dad', 1.89]]

In [5]:
type(fam2)

list

In [6]:
months = ['January', 'February', 'March']
months.append('April')
months

['January', 'February', 'March', 'April']

In [7]:
x = [1, 2, 3]
x.extend([4, 5])
x

[1, 2, 3, 4, 5]

In [8]:
months = ['January', 'February', 'March']
prices = [238.11, 237.81, 238.91]

months.index('February')

1

In [9]:
prices[1]

237.81

In [10]:
prices = [159.54, 37.13, 71.17]
price_max = max(prices)
price_max

159.54

In [11]:
min_price = min(prices)
min_index = prices.index(min_price)
min_month = months[min_index]
min_month

'February'

In [12]:
stock_price_1 = [50.23]
stock_price_2 = [75.14, 85.64, 11.28]

print('stock_price_1 length is ', len(stock_price_1))
print('stock_price_2 length is ', len(stock_price_2))

stock_price_1 length is  1
stock_price_2 length is  3

In [13]:
list()

[]

In [14]:
stocks = ('238.11', '237.81', '238.91')
list(stocks)

['238.11', '237.81', '238.91']

In [15]:
stocks_1 = ['238.11', '237.81', '238.91']
list(stocks_1)

['238.11', '237.81', '238.91']

In [16]:
stock_price_1 = [50.23]
stock_price_2 = [75.14]

In [19]:
def cmp(a, b):
    return (a > b) - (a < b)

In [20]:
cmp(stock_price_1, stock_price_2)

-1

In [21]:
cmp(stock_price_1, stock_price_1)

0

In [22]:
cmp(stock_price_2, stock_price_1)

1

In [23]:
def filter_price(price):
    if (price > 350):
        return True
    else:
        return False

In [24]:
item_price = [230, 400, 450, 350, 370]

filtered_price = filter(filter_price, item_price)
list(filtered_price)

[400, 450, 370]

In [25]:
filtered_price = filter(lambda a: a > 350, item_price)
list(filtered_price)

[400, 450, 370]